.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

.ad-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.ad-grid img {
  width: 80%;
  height: 50vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .ad-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}


.search-input {
  width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


.search-button {
  padding: 10px;
  margin-left: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #3e8e41;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #6B4423;
  }
  
  h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #6B4423
  }
  
  p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1em;
    color: #6B4423
  }
  